<div class="content-in">
    <app-page-header pageName="API" data=""></app-page-header>
    <div>

        <div class="first-row">

            <div class="example">
                <h2>Key auth</h2>
                <div class="card">
                    <div class="request">
                        <div class="head">
                            <h3>Request</h3>
                            <span class="method post">POST</span>
                        </div>
                        <div class="params">
                            <div class="url">
                                <h3>URL:</h3>
                                <span class="data">https://cactus-manager.ru/api/v1/devices</span>
                            </div>
                            <div class="headers">
                                <h3>Headers:</h3>
                                <span class="data">Content-type: JSON/text</span>
                            </div>
                            <div class="body">
                                <h3>Body:</h3>
                                <span class="data">&#123; <br> key: "[this your key]", <br> device: "[your device ID]" <br>&#125; </span>
                            </div>
                        </div>
    
                    </div>
                    <div class="response">
                        <div class="head">
                            <h3>Response</h3>
                        </div>
                        <div class="params">
                            <div class="statuscode">
                                <span class="param">statuscode:</span> 200
                            </div>
                            <div class="message">
                                <span class="param">message:</span> 'Добавлено'
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
    
            
            <div class="example">
                <h2>Activations reset</h2>
                <div class="card">
                    <div class="request">
                        <div class="head">
                            <h3>Request</h3>
                            <span class="method delete">DELETE</span>
                        </div>
                        <div class="params">
                            <div class="url">
                                <h3>URL:</h3>
                                <span class="data">https://cactus-manager.ru/api/v1/devices</span>
                            </div>
                            <div class="headers">
                                <h3>Headers:</h3>
                                <span class="data">Content-type: JSON/text</span>
                            </div>
                            <div class="body">
                                <h3>Body:</h3>
                                <span class="data">&#123; <br> key: "[this your key]", <br> &#125; </span>
                            </div>
                        </div>
    
                    </div>
                    <div class="response">
                        <div class="head">
                            <h3>Response</h3>
                        </div>
                        <div class="params">
                            <div class="statuscode">
                                <span class="param">statuscode:</span> 200
                            </div>
                            <div class="message">
                                <span class="param">message:</span> 'Добавлено'
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</div>