.content-in>div{
    display: grid;
    padding: 15px 30px;
    row-gap: 40px;
    align-items: start;
}

.content-in>div>div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 35px;
}

.example{
    display: grid;
    grid-template-rows: auto 1fr;
}

.method.post{color: green;}
.method.delete{color: red;}

.request,.response{display: grid; grid-template-rows: auto 1fr; row-gap: 10px; align-items: start;}
.request>.params{display: grid; row-gap: 10px;}

.example>h2{
    font-size: 24px;
    font-weight: 500;

    line-height: 35px;
}



.card{
    border-radius: 15px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    padding: 10px 25px;

    display: grid;
    grid-template-rows: 1fr auto;
    row-gap: 20px;

    transition: .4s;
}

.card:hover{
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

.card .head{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.head h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #509BFF;
}
.card .head > *:last-child{justify-self: end;}

.params h3{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.params>div{
    display: grid;
}

.params>div>span.data{
    font-size: 16px;
    line-height: 20px;
    padding-left: 30px;
}

.response>div.params>div{
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 5px;
    align-items: center;
    justify-items: start;
    margin-left: 25px;
}
.response>div.params>div> .param{
    font-weight: 500;
}
