.content-in>div:last-child{
    grid-template-rows: auto auto 1fr;
    padding: 20px 0px;
    max-height: 100%;
}

.header{
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-items: end;
    column-gap: 50px;
    padding: 0px 60px;
}

.checkboxes{display: grid; grid-template-columns: auto auto; column-gap: 25px;}

.keys{
    padding: 0px 30px;
}

table{
    width: 100%;
    height: 100%;
    grid-template-rows: auto 1fr;
    row-gap: 15px;
    display: grid;
    max-height: 58vh;
}
table>*{display: grid;}
table tr{display: grid; grid-template-columns: .8fr 1fr .5fr .7fr .7fr .5fr 48px; column-gap: 5px;}
thead{padding: 0px 30px}
tbody{padding: 0px 30px; overflow-y: scroll; max-height: 100%;}
tbody > div{
    display: grid;
    align-self: start;
    row-gap: 5px;
}
table thead tr{border-bottom: 1px solid #898988;}
table thead td{font-size: 18px; font-weight: 500;}
td{display: grid; align-items: center;}

td:nth-child(6) input{width: 48px;}
td select{max-width: 78px; border-radius: 5px; border: .5px solid #3d3d3d;}

app-new-key{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

td.action{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
    place-items: center;
    width: 46px;
}

td input{
    background-color: #EAEAEA;
}

.infinity{
    display: grid;
    align-items: center;
    justify-items: start;
    padding-left: 5px;
}
.infinity span{
    transform: rotate(90deg);
    display: grid;
    place-items: center;
}