<form [formGroup]="formDataKey" class="new-key">
    <span class="head">
        <h3>New key</h3>
        <img src="/assets/img/icons/plus.svg" alt="close" class="pointer" (click)="close()">
    </span>
    
    <div class="data">

        <div class="type">
            <h4>Type:</h4>
            <div class="checkbox-1-2">
                <input type="radio" name="status" id="newRenewal" value="renewal" formControlName="status">
                <label for="newRenewal" class="pointer">Renewal</label>
            </div>
            <div class="checkbox-1-2">
                <input type="radio" name="status" id="newLifetime" value="lifetime" formControlName="status">
                <label for="newLifetime" class="pointer">Lifetime</label>
            </div>
        </div>

        <div class="renew-date" *ngIf="status.value == 'renewal'">
            <h4>Renewal date:</h4>
            <input type="date" name="date" id="date" formControlName="expiresIn">
        </div>

        <div class="nickname">
            <h4>Nickname:</h4>
            <input type="text" id="nickname" autocomplete="off" placeholder="Nickname#8888" formControlName="user">
        </div>

        <div class="activate-quantity">
            <h4>Activations quantity:</h4>
            <input type="text" placeholder="Number" formControlName="quantity">
            <div class="input">
                <input type="checkbox" [(ngModel)]="infinityActivating" [ngModelOptions]="{standalone: true}" (ngModelChange)="onInfinity()" id="infinity"> <label for="infinity" class="pointer">8</label>
            </div>
        </div>

        <div class="relative">
            <button class="standart-btn border-btn" (click)="newKey()">Generate</button>
            <span class="error" *ngIf="errorMessage"> {{ errorMessage }} </span>
        </div>

    </div>

    <div class="key">
        <h4>Key:</h4>
        <span class="key" id="key">{{key}}</span>
        <button class="standart-btn border-btn" (click)="copy('key')">
            <img src="/assets/img/icons/copy.svg" alt="copy">
        </button>
    </div>

</form>
<div class="artboard blur dark" (click)="close()"></div>