<div class="content-in">
    <app-page-header pageName="Users"></app-page-header>
    <div>

        <div class="header">
            <button class="adding-btn" (click)="onChangeNewKey(true)">
                <span class="plus">
                    <img src="/assets/img/icons/plus.svg">
                </span>
                Add new key
            </button>

            <div class="checkboxes">
            </div>

            <div class="search">
                <input type="text" placeholder="Search" name="search" id="search" class="search-input" autocomplete="off">
                <img src="/assets/img/icons/search.svg">
            </div>
        </div>

        <app-new-registr-key *ngIf="newKey" (onClose)="onChangeNewKey($event)"></app-new-registr-key>



    </div>
</div>