<div class="auth login login-padding align-items-center content">

    <div class="align-items-center">

            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <span class="h1-underline">
                    <h1 class="underline">Hello! Login here</h1>
                    <span class="hr"></span>
                </span>
    

                <div class="inputs relative">
                    <span class="error" *ngIf="errorMessage">
                        {{ errorMessage }}
                    </span>

                    <input type="email" name="email" id="email" class="standart-input email" placeholder="E-mail" formControlName="email" [ngClass]="{'error': errorMessage}">

                    <div class="password-inp">
                        <input type="password" name="password" id="password" placeholder="Password" class="standart-input" formControlName="password" [ngClass]="{'error': errorMessage}">
                        <a routerLink="/">Forgot password?</a>
                    </div>
                </div>
    
                <button class="standart-btn linear-btn">Login</button>
            </form>
    
            <span class="or"><span class="hr"></span>or<span class="hr"></span></span>
    
            <button routerLink="/sign-up" class="standart-btn border-btn">Sign Up</button>

    </div>

    <div class="background-cover">

    </div>
    <ngx-spinner
    type="ball-clip-rotate"
    size="large"
    [fullScreen]="true"
    class="absolute"
    ></ngx-spinner>
</div>