.content{
    display: grid;
    grid-template-columns: minmax(390px, 0.5fr) 1fr;
    column-gap: 70px;
    align-self: center;
    height: auto;
}

/* .content> div{} */

.background-cover{
    background-image: url('/assets/img/background/login.svg');
    background-size: contain;
    justify-self: stretch;
    align-self: stretch;
}

.or{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 20px;
    align-items: center;
}

.align-items-center{
    display: grid;
    align-items: center;
}

.align-items-center>div{
    display: grid;
    row-gap: 20px;
}

form{
    display: grid;
    row-gap: 25px;
}

form span:first-child{padding-bottom: 15px;}
form > *:nth-child(2){margin-bottom: 5px;}

.password-inp{
    display: grid;
}

.password-inp > a{
    justify-self: end;
    text-decoration: underline;
    color: #316CC3;
    font-size: 12px;
}
.inputs{display: grid; row-gap: 30px; position: relative;}
span.error{color: #F65151; font-size: 14px; position: absolute; top: -5px; left: 15px; line-height: 22px; transform: translate(0%, -50%); }
.input-error{left: 15px;}

.ng-touched.ng-invalid{border-color: #F65151;}

.border-btn:hover{
    border-color: #E4F0FF;
}

.linear-btn:hover{
    filter: brightness(1.1);
}