.side-bar{width: 340px; height: 100%; padding: 50px 70px; display: grid; grid-template-rows: auto 1fr auto; row-gap: 50px;}
h2{line-height: 31px; font-size: 36px; }
ul{
    align-self: start;
    align-items: start;
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    row-gap: 20px;
    
}

button{
    height: 48px;
}

.standart-btn{
    padding: 5px 15px;
    grid-template-columns: auto 1fr;
    justify-items: start;
    column-gap: 10px;
}
.logout{
    width: 114px;
    height: 48px;
    justify-self: center;
    align-self: start;
}

.blue-btn img{
    filter: brightness(5);
}