.content{
    display: grid;
    justify-items: center;
    align-items: start;
}

form{
    margin-top: 100px;
    width: 380px;
    display: grid;
    row-gap: 20px;
}

form button{
    margin-top: 20px;
}

.input{
    position: relative;
}

.input .error{
    position: absolute;
    bottom: 0px;
    left: 15px;
    transform: translate(0px, 100%);
    color: #F65151;
    font-size: 14px;
    line-height: 22px;
}