<div class="content">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <input formControlName="login" type="text" class="standart-input">
        <input formControlName="password" type="password" class="standart-input">
        <div class="input">
            <button class="standart-btn linear-btn">Auth</button>
            <span class="error" *ngIf="error">{{ error }}</span>
        </div>
    </form>
</div>
<ngx-spinner
    type="ball-clip-rotate"
    size="large"
    [fullScreen]="true"
    class="absolute"
></ngx-spinner>