div.new-key{
    display: grid;
    row-gap: 15px;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: white;
    border-radius: 15px;
    border: 1px solid #78AFF8;
    padding: 10px 20px;

    z-index: 1;
    min-width: 300px;
}

h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 31px;
    align-self: center;
    justify-self: start;
}

h4{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    justify-self: start;
    align-self: center;
}

.head{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}
.head img{justify-self: end; width: 12px; transform: rotate(45deg);}

div.new-key > button{
    justify-self: start;
    width: 138px;
    height: 34px;
    padding: 0;
    border-radius: 10px;
}

div.key{
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 10px;
}

span.key{
    display: grid;
    place-items: center;
    font-size: 14px;
    line-height: 22px;
}

.key button{
    width: 34px;
    height: 34px;
    border-radius: 10px;
    padding: 0;
    place-items: center;
}

button:active{
    background-color: #78AFF8;
}