<div class="new-key">
    <span class="head">
        <h3>New registr key</h3>
        <img src="/assets/img/icons/plus.svg" alt="close" class="pointer" (click)="close()">
    </span>
    
    <button class="standart-btn border-btn" (click)="newKey()">Generate</button>

    <div class="key">
        <h4>Key:</h4>
        <span class="key" id="key">{{key}}</span>
        <button class="standart-btn border-btn" (click)="copy('key')">
            <img src="/assets/img/icons/copy.svg" alt="copy">
        </button>
    </div>

</div>
<div class="artboard blur dark" (click)="close()"></div>